# Server-side API key (Unrestricted, Keep Secret!)
GOOGLE_MAPS_SERVER_API_KEY=your_server_api_key_here

# Client-side API key (Must be restricted by HTTP referrers!)
GOOGLE_MAPS_BROWSER_API_KEY=your_browser_api_key_here

# Settings
STORE_MAP_MAX_DISTANCE_METERS=1500
STORE_MAP_MAX_RESULTS=120
POLICE_MAX_RESULTS=3
PORT=4173